extends layout

block scripts

  script.
    $(function() {
      $(".header-nav a").click(function() {
        $("footer").hide();
        // switch link/tab/bookmark highlight
        $(".header-nav li").removeClass("active");
        $(this).parent().addClass("active");

        // switch screen contents
        $(".content-wrapper > div").removeClass("active");
        $("#" + $(this).data("target")).addClass("active");
      });

      $(".form-signin").submit(function() {
        $(".form-signin").fadeOut(1000);
        setTimeout(function() {
          location.href = "/";
        }, 1500);
      });

    });


block body
  <div class="body-inner">
    <div class="page-wrapper">

      // Navigation header
      <header>
        <h3 class="header-title">British Heart Foundation</h3>
        <nav>
          <ul class="nav header-nav">
            <li class="active"><a href="#" data-target="tab-home">Home</a></li>
            <li><a href="#" data-target="tab-features">Store</a></li>
            <li><a href="#" data-target="tab-sign-in">Members</a></li>
          </ul>
        </nav>
      </header>

      // Main Content
      <div class="content-wrapper">

        // Tab Home
        <div id="tab-home" class="active">
          <h1>Home in time for Christmas</h1>
          <p class="lead">Jack was suddenly diagnosed with a rare heart condition.<br/>Our research helped pioneer a new type of operation that <br/>got him home for Christmas.</p>
          <img src="https://www.bhf.org.uk/-/media/upload/facebook-share-image_v5-1.jpg" width="80%">
        </div>
        
        // Tab Features
        <div id="tab-features">
          // Include another template
          //include demos/bootstrap-demo
        </div>

        // Tab Sing In
        <div id="tab-sign-in">
          <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> This is a Checkbox
              </label>
            </div>
            <button class="btn btn-lg btn-danger btn-block" type="submit">Sign in</button>
          </form>
        </div>

      </div>


      // Footer
      <footer>
        <p>Code for Good (London 2016) - <a href="https://github.com/Ldn2016/team-2">Team 2</a></p>
      </footer>

    </div>
  </div>
