extends layout

block scripts
	script(src="/socket.io/socket.io.js")

block body
	h3 Hello Web Sockets
	button(onclick="notify_clicked();") Send message to the server

	script.
		var socket = io(); // init connection

		/* SEND Message */
		function notify_clicked() { 
			socket.emit('item_approved', {data: 'I clicked the big button'});
		}

		/* RECEIVE Message */
		socket.on('new_item', function() {
			console.log("ok");
		});

